extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
  //
    https://codepen.io/andytran/pen/GpyKLM
    https://codepen.io/VincentGarreau/pen/pnlso
    https://codepen.io/nodws/pen/YPgZao
    https://codepen.io/nw/pen/WQmxYY
