doctype html
html(ng-app='myApp' ng-controller='AppCtrl' lang='en')
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    block contentHEAD
  body#root
    block content
