doctype html
html(ng-app='myApp' ng-controller='AppCtrl' lang='en')
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      *{font-family:'Noto Sans TC'}
    block contentHEAD
  body#root
    block content
    script.
      WebFontConfig = {
      custom: {
      //families: ['DFYuan-W5-WIN-BF'],
      //urls: ['/stylesheets/fonts.css']
      families: ['Noto Sans TC'],
      urls: ['https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional']
      }
      };
      (function (d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.async = true;//非同步方式載入.js
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      s.parentNode.insertBefore(wf, s);
      })(document);
