doctype html
html
  head
    //for markdown latex
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/markdown-it-texmath/css/texmath.min.css')
    script(src='https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js')
    script(src='https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js')
    script(src='https://cdn.jsdelivr.net/npm/markdown-it-texmath/texmath.min.js')
    //The top is the end of the check point
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    block contentHEAD
  body#root
    block content
