extends layout

block content
  #jade_user_info
  #jade_user_info_name #{var_jade_user_info_name}
  #jade_user_info_username #{var_jade_user_info_username}
  #jade_user_info_profileimage #{var_jade_user_info_profileimage}
  #jade_user_info_choosedanimal #{var_jade_user_info_choosedanimal}