extends layout

block content
  #jade_user_info(style='display: none;')
  #jade_user_info_name(style='display: none;') #{var_jade_user_info_name}
  #jade_user_info_username(style='display: none;') #{var_jade_user_info_username}
  #jade_user_info_profileimage(style='display: none;') #{var_jade_user_info_profileimage}
  #jade_user_info_choosedanimal(style='display: none;') #{var_jade_user_info_choosedanimal}